@{
    ViewBag.Title = "Faces. Namics.";
}

<div class="row">
    <div class="col-sm-7">
        <h2>Analyze or Identify a Face</h2>
        <p>This web app allows you to automatically analyze or identify a face using the Microsoft Cognitive Services API.</p>
        <ul>
            <li><a href="/Home/Analyze">Analyze</a></li>
            <li><a href="/Home/Identify">Identify</a></li>
            <li><a href="/Home/Train">Train</a></li>
        </ul>
    </div>
</div>